.banner{
    position: absolute;
    background-image: url(../images/banner-1.png);
    background-size: cover;
    border-bottom: 3px solid gray;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.dropdown{
    position: inherit;
}

.cart{
    position: absolute;
    top: -11px;
    right: -12px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    background: #2ba2ff;
    text-align: center;
    border-radius: 50%;
    z-index: 0;
    color: white;
}
.cart-link{
    position: relative;
    
}
a{
    text-decoration: none;
}
@media only screen and (max-width: 991px){
    .back-ground {
        background: #333;
        border-top: 1px solid white;
        border-radius: none !important;
    }
}
.list-menu {
    position: inherit;
}
.list-menu i{
    position: absolute;
    right: 0;
    top: 0;
    height: 41px;
}
.list-menu i{
    position: absolute;
    right: 0;
    top: 0;
    height: 41px;
}