@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i");
.banner {
  padding-bottom: 330px;
  padding-top: 150px;
  position: relative;
}

.banner .ba {
  position: absolute;
  background-image: url(../images/banner-1.png);
  background-size: cover;
  background-position: center;
  left: 0;
  top: -125px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner h1 {
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.banner p {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  margin-top: 29px;
  margin-bottom: 50px;
}

.banner .rotate-agopa {
  position: absolute;
  left: 0px;
  top: 60px;
  font-size: 130px;
  line-height: 120px;
  font-family: 'Lobster Two', "cursive";
  font-weight: 700;
  color: white;
  opacity: 0.08;
  -webkit-animation: fa-spin 10s ease infinite;
          animation: fa-spin 10s ease infinite;
}

.banner img {
  position: absolute;
  -webkit-animation: float-bob-y 10s ease infinite;
          animation: float-bob-y 10s ease infinite;
}

.sticky-header-1 {
  z-index: 1000 !important;
  top: 0 !important;
}

body {
  height: 1500px;
}

.sticky-header {
  position: fixed;
  left: 0px;
  top: -100px;
  width: 100%;
  padding: 0px auto;
  z-index: 0;
  border-bottom: 1px solid #e0e0e0;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
}

.dropdown-menu {
  left: 0;
}

figure {
  padding: 0 10px;
}

figure a img {
  width: 100%;
  padding: 0 10px;
}

.cart {
  position: absolute;
  top: -11px;
  right: -12px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  background: #2ba2ff;
  text-align: center;
  border-radius: 50%;
  z-index: 0;
  color: white;
}

.cart-link {
  position: relative;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

a {
  text-decoration: none;
}

.back-ground {
  height: 450px;
  overflow-y: scroll;
  overflow-x: clip;
}

@media only screen and (max-width: 991px) {
  .back-ground {
    background: #333;
    border-top: 1px solid white;
    border-radius: none !important;
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    overflow-y: unset;
  }
}

@media only screen and (max-width: 991px) {
  .absolute {
    background: #333;
    border-top: 1px solid white;
    border-radius: none !important;
    position: absolute;
    top: 100%;
    width: 100%;
    overflow-y: scroll;
    z-index: 1;
  }
}

@media only screen and (min-width: 991px) {
  .list-menu {
    border: none !important;
  }
}

.list-menu a {
  position: relative;
}

.list-menu a i {
  position: absolute;
  right: 0;
  top: 0;
  height: 41px;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem white;
          box-shadow: 0 0 0 0.25rem white;
}
/*# sourceMappingURL=custom.css.map */